@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;700&display=swap');

:root{
    --primary: #f3e8ff;
    --secondary: #a855f7;
    --background: #d8b4fe;
    --font: #5b21b6;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Heebp', sans-serif;
}

.header{
    border: 1px solid black;
    height: 6rem;
    padding: 24px;
}

.header h1{
    font-size: 42px;
}

.header h1 span{
    color: var(--font);
}