@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;700&display=swap');

:root{
    --primary: #5b21b6;
    --secondary: #a855f7;
    --background: #d8b4fe;
    --font: #f3e8ff;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Heebp', sans-serif;
}

