@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;700&display=swap');

:root{
    --primary: #581c87;
    --secondary: #a855f7;
    --utility: #d8b4fe;
    --background: #faf5ff;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Heebp', sans-serif;
}

/* Header Section */

.header{
    height: 6rem;
    padding: 24px;
    /* box-shadow: 0 41px 20px -20px gray); */
}

.header h1{
    font-size: 42px;
    margin-left: 180px;
}

.header h1 span{
    color: var(--primary);
}

/* Main Section */

.main{
    /* border: 1px solid black; */
    padding: 32px;
    background-color: var(--background);
    /* height: 80vh; */
}

.add-button{
    text-align: center;
    background-color: var(--primary);
    width: min(14rem);
    padding: 18px;
    border-radius: 25px;
    color: var(--background);
    font-size: 1.3rem;
    font-weight: bold;
    margin: 0px auto 24px;
}

.manga-cards{
    /* border: 1px solid black; */
    border-radius: 24px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    gap: 48px;
    padding: 48px 320px;
}

.card{
    /* border: 1px solid black; */
    background-color: white;
    border-radius: 24px;
    padding: 42px;
}

.card *{
    margin-bottom: 16px;
}

.card h2{
    color: var(--primary);
    font-size: 1.7rem;
}

.read, .remove{
    text-align: center;
    /* border: 1px solid black; */
    border-radius: 18px;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 24px auto;
    padding: 12px 42px;
    background-color: var(--background);
}

.read{
    background-color: var(--utility);
    margin-top: 18px;
}

/* Footer Section */

.footer{   
    text-align: center;
    font-size: 1.8rem;
    letter-spacing: 8px;
    background-color: var(--background);
}